
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #2e4493;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    z-index: 996;
    transition: all 0.5s;
  }
  
  #topbar.topbar-scrolled {
    top: -40px;
  }
  
  #topbar i {
    padding-right: 6px;
    line-height: 0;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    transition: all 0.5s;
    /* z-index: 997;
    padding: 5px 0; */
    top: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  



.navbar ul li a{
    color:#1192d7;
    font-weight: 600;
    margin-right: 15px;

}
   

.navbar ul li a:hover{
    color:#FF5D22;
    text-decoration: underline;
    text-decoration-color: #FF5D22;
    
    background-color: transparent;

}
.icon a{
    color: beige;
    background-color: #FF5D22;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    font-family: Trirong, serif;
}
.hero{
   
   
    height: 100vh;
    width:100% ;
}
.mbtn1{
    height: 50px;
    width:25%;
    outline: none;
    border: none;
    color:white;
    background: #1192d7 ;
    border-radius: 50px;
    transition: all 0.4s;
    font-family: Trirong, serif;
    padding-top: 4px;
}
.mbtn1:hover{
    background-color: #FF5D22;
}
.mbtn2{
    height: 50px;
    width:25%;
    outline: none;
    border: 1px solid  #1192d7;
    color: #1192d7;
    background: #fff;

    border-radius: 50px;
    transition: all 0.4s;
    font-family: Trirong, serif;
    padding-top: 4px;
}
.mbtn2:hover{
    background-color: #FF5D22;
    color: #fff;
}
.line{
    height: 6px;
    width: 40%;
    background-color: #2e4493;
    
}
.heading{
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    font-family: Trirong, serif;
    
}
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.image-content{
padding-top: 2rem;
}
.image-content h2{
font-size: 30px;
font-weight: 500;
color: #1192d7;
font-family: Trirong, serif;
}
.social{
font-size: 20px;
margin-bottom: 20px;
}
.social i{
margin: 1rem 1rem;
background: #1192d7;
color:white;
padding:0.5rem;
transition: 0.5s;
}
.social i:hover{
transform: scale(1.1);
background-color: #FF5D22;
cursor: pointer;
}

.footerlinks{
    color:white;
    font-weight: 600;
    

}


.footerlinks:hover{
transform: scale(1.1);
background-color: #FF5D22;
cursor: pointer;
padding: 0.3em 1rem;
border-radius: 40%;
}
.mbtn3{
    height: 30px;
    width:25%;
    outline: none;
    border: 1px solid  #1192d7;
    color:#fff;
    background-color:#1192d7;
    border-radius: 50px;
    transition: all 0.4s;
    font-family: Trirong, serif;
    text-transform: uppercase;
}
.btn:hover{
transform: scale(1.1);
background:transparent;
color: #FF5D22;
cursor: pointer;
}
.mbtn3:hover{
    transform: scale(1.1);
background-color: #FF5D22;
cursor: pointer;
}

.container .contactInfo .contactBox .contactText h3{
font-family: Trirong, serif;
font-size: 22px;
color:#1192d7;
}
.container .contactInfo .contactBox .contactIcon i{
color: black;
border-radius: 50%;
border:1rem solid white;
background-color: #fff;


}
.contactForm{
margin: 2px;
padding: 40px;
background: #fff;
margin-bottom: 4px;
}
.contactForm h2{
font-size: 2.5rem;
color: #1192d7;
font-weight: 500;
}
.contactForm .inputBox{
position: relative;
width: 100%;
margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
width: 100%;
padding:5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
border-bottom:2px solid  #1192d7;
outline: none;
resize: none;
}
.contactForm .inputBox span{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color:  #1192d7;

}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span{
color: #FF5D22;
font-size: 12px;
transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    height: 40px;
    width:30%;
    outline: none;
    border: 1px solid  #1192d7;
    color:#fff;
    background-color:#1192d7;
    border-radius: 50px;
    transition: all 0.4s;
    font-family: Trirong, serif;
    text-transform: uppercase;

}
.contactForm .inputBox input[type="submit"]:hover{
transform: scale(1.1);
background-color: #FF5D22;
cursor: pointer;
}
.contact .info-box {
color: #444444;
text-align: center;
box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
padding: 20px 0 30px 0;
background: #fff;
}

.contact .info-box i {
font-size: 32px;
color: #1192d7;
border-radius: 50%;
padding: 8px;
border: 2px dotted #2e4493;
}

.contact .info-box h3 {
font-size: 20px;
color: #252424;
font-weight: 700;
margin: 10px 0;
}

.contact .info-box p {
padding: 0;
line-height: 24px;
font-size: 14px;
margin-bottom: 0;
}

.featured-services .icon-box {
padding: 30px;
position: relative;
overflow: hidden;
background: #fff;
box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
transition: all 0.3s ease-in-out;
border-radius: 8px;
z-index: 1;
}

.featured-services .icon-box::before {
content: "";
position: absolute;
background: #d9f1f2;
right: 0;
left: 0;
bottom: 0;
top: 100%;
transition: all 0.3s;
z-index: -1;
}

.featured-services .icon-box:hover::before {
background: #FF5D22;
top: 0;
border-radius: 0px;
}

.featured-services .icon {
margin-bottom: 15px;
}

.featured-services .icon i {
font-size: 48px;
line-height: 1;
color: #1192d7;
transition: all 0.3s ease-in-out;
}

.featured-services .title {
font-weight: 700;
margin-bottom: 15px;
font-size: 18px;
}

.featured-services .title a {
color: #111;
}

.featured-services .description {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
color: #fff;
}

.featured-services .icon-box:hover .icon i {
color: #fff;
}

.footer-top p{
    color: #fff;
    line-height: 25px;
}
.footer-top h2,h3{
    color: #fff;
}
.footer-top h2{
    font-size: 18px;
}
.footer-top{
    background:linear-gradient(45deg, #2e4493, #111);
    padding: 80px 0;
}
.segment-one h3{
    font-family: Audiowide, sans-serif;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: #FF5D22;
    padding-right: 10px;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #fff;
    text-decoration: none;
}
.segment-two ul li a:hover{
    color: #FF5D22;
transform: scale(1.1);
cursor: pointer;
}
.segment-three h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #FF5D22;
    padding-right: 10px;
}
.segment-three a{
    background: #1192d7;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.segment-three a:hover{
    background: #FF5D22;
    transform: scale(1.1);
cursor: pointer;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;

}
.segment-four h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-four h2:before{
    content: '|';
    color: #FF5D22;
    padding-right: 10px;
}
.footer-bottom-text{
    text-align: center;
    background: #bbd1ea;
    line-height: 65px;
}


.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    height: 8rem;
    width: 8rem;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #bbd1ea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #f0fafa;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1192d7;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1192d7;
}

